header
    .header-top
        .inner
            .container-fluid
                .row
                    .col-md-12
                        a.logo(href="#")
                            img(src="img/mainlogo.png")
                        .trade
                            img(src="img/tradein.png")
                            p
                                |выгодный
                                br
                                span трейд-ин
                        a.btn.btn-yellow(href="#") Узнать условия лизинга
                        a.btn.btn-number(href="#") 8 800 333-11-96
    .header-content
        .inner
            .container-fluid
                .row
                    .col-md-12
                        h1
                            |ПОЛУПРИЦЕП WIELTON ТЕНТОВАННЫЙ
                            br
                            |NS 3 SP M2 ворота
                .row
                    .col-md-5
                        h4
                            | от европейского производителя
                            br
                            | с возможностью приобретения в лизинг,
                            br
                            | кредит или по программе трейд-ин
                        .main-form.form-block
                            h3 Узнать условия лизинга
                            p
                                | Введите телефон и мы расскажем Вам
                                br
                                | условия покупки полуприцепа в лизинг
                            form.form-shake
                                .field
                                    input(type="text" required placeholder="Введите телефон")
                                button.btn.btn-yellow(name="send") получить расчет лизинга
                    .col-md-7